@using NSE.WebApp.MVC.Models

@model ErrorViewModel
@{
    ViewData["Title"] = (Model != null ? Model.Titulo : "Ocorreu um erro");
}

@{
    if(Model == null)
    {
         <div>
            <h2>Oops! Ocorreu um erro, mas não se preocupe, nosso time será avisado e iremos corrigir em breve!</h2>
        </div>
    }
    else
    {
        <div>
            <h2>@Model.Mensagem</h2>
        </div>
    }
}
